run = "npm start"
entrypoint = "src/server.js"
hidden = [".config"]

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true

[nix]
channel = "stable-22_11"

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"

[languages.javascript.languageServer]
start = "typescript-language-server --stdio"
